<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaruant Recommendation System</title>
    <!--<link rel="stylesheet" href="review.css">-->
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='review.css')}}">
</head>
<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>RR</span>S</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="{{ url_for('home') }}" data-after="Home">Home</a></li>
            <li><a href="{{ url_for('about') }}" data-after="About">About</a></li>
            <li><a href="{{ url_for('recommendations') }}" data-after="Service">Recommendations</a></li>
            <li><a href="{{ url_for('contact') }}" data-after="Contact">Contact</a></li>
            <li><a href="{{ url_for('review') }}" data-after="Review">Review</a></li>
            <li><a href="{{ url_for('sign_in') }}" data-after="sign in">Sign up</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


 <!--- <!-- Hero Section  
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>WELCOME...., <span></span></h1>
        <h1>Enjoy Your <span></span></h1>
        <h1>FOOD <span></span></h1>
        <a href="#projects"type="button"class="cta">Get Started</a>    
      </div>
    </div>
  </section>-->
  <!-- End Hero Section  -->

  <!---- About Section -->
 <!--- <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="https://etimg.etb2bimg.com/photo/75161189.cms" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>Restaruants</span></h1>
        <h2>Restaruant Recommendation System</h2>
        <p>Hello Floks,<br>A restaurant recommendation system is a software application or algorithm designed to suggest dining options to users based on their preferences, past behavior, and other relevant factors. <br>These systems aim to enhance the dining experience by helping users discover new restaurants, cafes, or eateries that align with their tastes and requirements.<br></p>
        <a href="#" class="cta">Downlond Restaruant Details</a>
      </div>
    </div>
  </section>
  <!-- End About Section -->
<!-- Service Section -->
<!--<section id="services">
  <div class="services container">
    <div class="service-top">
    <h1 style="text-align: center;" class="section-title"><span>R</span>ecommendations</h1>
        <h3>INSTRUCTIONS:</h3>
        <P>1.Give only Restaruant names.<br>2.Give only locations.<br>3.Give restaurant names and locations.<br>4.Give locations and restaurant types.</P>
        <p>Follow the instructions carefully, if not it's showing invalid data</p>
    </div>
    <div class="service-bottom">
      <div class="service-item">
        <div class="icon"><img src="https://www.netsolutions.com/insights/wp-content/uploads/2021/11/essential-feature-of-building-an-on-demand-food-ordering-app.jpg" /></div>
        <h2>All locations</h2>
        <p>Select your convenient locations in Bangalore area.</p>
        <select id="location-select">
          <option value="all">All locations</option>
          <option value="Banashankari">Banashankari</option>
          <option value="Basavanagudi">Basavanagudi</option>
          <option value="Mysore Road">Mysore Road</option>
          <option value="Jayanagar">Jayanagar</option>
          <option value="Kumaraswamy Layout">Kumaraswamy Layout</option>
          <option value="Rajarajeshwari Nagar">Rajarajeshwari Nagar</option>
          <option value="Vijay Nagar">Vijay Nagar</option>
          <option value="Uttarahalli">Uttarahalli</option>
          <option value="JP Nagar">JP Nagar</option>
          <option value="South Bangalore">South Bangalore</option>
          <option value="City Market">City Market</option>
          <option value="Nagarbhavi">Nagarbhavi</option>
          <option value="Bannerghatta Road">Bannerghatta Road</option>
          <option value="BTM">BTM</option>
          <option value="Kanakapura Road">Kanakapura Road</option>
          <option value="Bommanahalli">Bommanahalli</option>
          <option value="CV Raman Nagar">CV Raman Nagar</option>
          <option value="Electronic City">Electronic City</option>
          <option value="HSR">HSR</option>
          <option value="Marathahalli">Marathahalli</option>
          <option value="Wilson Garden">Wilson Garden</option>
          <option value="Shanti Nagar">Shanti Nagar</option>
          <option value="Koramangala 5th Block">Koramangala 5th Block</option>
          <option value="Koramangala 8th Block">Koramangala 8th Block</option>
          <option value="Richmond Road">Richmond Road</option>
          <option value="Sarjapur Road">Sarjapur Road</option>
          <option value="Whitefield">Whitefield</option>
          <option value="Koramangala 5th Block">Koramangala 5th Block</option>
          <option value="Koramangala 6th Block">Koramangala 6th Block</option>
          <option value="Koramangala 7th Block">Koramangala 7th Block</option>
          <option value="alahalli">Alahalli</option>
          <option value="koramangala_4th_block">Koramangala 4th Block</option>
          <option value="bellandur">Bellandur</option>
          <option value="sarjapur_road">Sarjapur Road</option>
          <option value="whitefield">Whitefield</option>
          <option value="east_bangalore">East Bangalore</option>
          <option value="old_airport_road">Old Airport Road</option>
          <option value="indiranagar">Indiranagar</option>
          <option value="koramangala_1st_block">Koramangala 1st Block</option>
          <option value="frazer_town">Frazer Town</option>
          <option value="rt_nagar">RT Nagar</option>
          <option value="mg_road">MG Road</option>
          <option value="brigade_road">Brigade Road</option>
          <option value="lavelle_road">Lavelle Road</option>
          <option value="church_street">Church Street</option>
          <option value="ulsoor">Ulsoor</option>
          <option value="residency_road">Residency Road</option>
          <option value="shivajinagar">Shivajinagar</option>
          <option value="infantry_road">Infantry Road</option>
          <option value="st_marks_road">St. Marks Road</option>
          <option value="cunningham_road">Cunningham Road</option>
          <option value="race_course_road">Race Course Road</option>
          <option value="commercial_street">Commercial Street</option>
          <option value="vasanth_nagar">Vasanth Nagar</option>
          <option value="hbr_layout">HBR Layout</option>
          <option value="domlur">Domlur</option>
          <option value="ejipura">Ejipura</option>
          <option value="jeevan_bhima_nagar">Jeevan Bhima Nagar</option>
          <option value="old_madras_road">Old Madras Road</option>
          <option value="malleshwaram">Malleshwaram</option>
          <option value="seshadripuram">Seshadripuram</option>
          <option value="kammanahalli">Kammanahalli</option>
          <option value="koramangala_6th_block">Koramangala 6th Block</option>
          <option value="majestic">Majestic</option>
          <option value="langford_town">Langford Town</option>
          <option value="central_bangalore">Central Bangalore</option>
          <option value="sanjay_nagar">Sanjay Nagar</option>
          <option value="brookefield">Brookefield</option>
          <option value="itpl_main_road_whitefield">ITPL Main Road, Whitefield</option>
          <option value="varthur_main_road_whitefield">Varthur Main Road, Whitefield</option>
          <option value="kr_puram">KR Puram</option>
          <option value="koramangala_2nd_block">Koramangala 2nd Block</option>
          <option value="koramangala_3rd_block">Koramangala 3rd Block</option>
          <option value="koramangala">Koramangala</option>
          <option value="hosur_road">Hosur Road</option>
          <option value="rajajinagar">Rajajinagar</option>
          <option value="banaswadi">Banaswadi</option>
          <option value="north_bangalore">North Bangalore</option>
          <option value="nagawara">Nagawara</option>
          <option value="hennur">Hennur</option>
          <option value="kalyan_nagar">Kalyan Nagar</option>
          <option value="new_bel_road">New BEL Road</option>
          <option value="jakkur">Jakkur</option>
          <option value="rammurthy_nagar">Rammurthy Nagar</option>
          <option value="thippasandra">Thippasandra</option>
          <option value="kaggadasapura">Kaggadasapura</option>
          <option value="hebbal">Hebbal</option>
          <option value="kengeri">Kengeri</option>
          <option value="sankey_road">Sankey Road</option>
          <option value="sadashiv_nagar">Sadashiv Nagar</option>
          <option value="basaveshwara_nagar">Basaveshwara Nagar</option>
          <option value="yeshwantpur">Yeshwantpur</option>
          <option value="west_bangalore">West Bangalore</option>
          <option value="magadi_road">Magadi Road</option>
          <option value="yelahanka">Yelahanka</option>
          <option value="sahakara_nagar">Sahakara Nagar</option>
      </select>
      </div>
      <div class="service-item">
        <div class="icon"><img src="https://media.marketrealist.com/brand-img/CyrmCMMHi/0x0/uploads/2019/09/restaurant.jpg" /></div>
        <h2>Restaruant Names</h2>
        <p>Search your restaurant name here.</p>
          <input type="search" id="query" name="q"
          placeholder="Search..." aria-label="Search through site content"> 
      </div>
      <div class="service-item">
        <div class="icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgRAxemx_1zSRmwv1ZnjyTk2A_Iop7QL1sXw&usqp=CAU" /></div>
        <h2>Restaruant Types</h2>
        <p>Select your restaurant types, and enjoy your food.</p>
          <div class="Restaruant-filter">
            <select id="Restaruant-select">
              <option value="all">All Restaruant Types</option>
              <option value="Bakery">Bakery</option>
              <option value="DessertParlor">Dessert Parlor</option>
              <option value="SweetShop">Sweet Shop</option>
              <option value="Bhojanalya">Bhojanalya</option>
              <option value="QuickBites">Quick Bites</option>
              <option value="Microbrewery">Microbrewery</option>
              <option value="Dhaba">Dhaba</option>
              <option value="BeverageShop">Beverage Shop</option>
              <option value="Club">Club</option>
              <option value="Bar">Bar</option>
              <option value="Confectionery">Confectionery</option>
              <option value="Mess">Mess</option>
              <option value="CasualDining">Casual Dining</option>
              <option value="IraniCafee">Irani Cafee</option>
              <option value="Takeaway">Takeaway</option>
              <option value="PopUp">Pop Up</option>
              <option value="Cafe">Cafe</option>
              <option value="MeatShop">Meat Shop</option>
              <option value="FoodTruck">Food Truck</option>
              <option value="FineDining">Fine Dining</option>
              <option value="FoodCourt">Food Court</option>
              <option value="Pub">Pub</option>
              <option value="Delivery">Delivery</option>
              <option value="Lounge">Lounge</option>
              <option value="Kiosk">Kiosk</option>
            </select>
          </div>
        </div>
      </div>
    <button>Recommend</button>
  </div>
</section>

<!--service section-->
 <!--- <!-- Contact Section -->
  <!--<section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact <span>Info</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+91 9573108832</h2>
            <h2>+91 7011177930</h2>
            <h2>+91 9618895050</h2>
            <h2>+91 9398390169</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>rrshelpdesk@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>Bangalore, Karnataka</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
<!--review section-->
<section id="Review" style="background-image: url(https://www.jiomart.com/images/product/original/rvh5gtuzu2/paper-plane-design-self-adhesive-wallpaper-waterproof-16-inch-x-90-inch-product-images-orvh5gtuzu2-p591074575-0-202202242112.jpg);">
    <div class="Review container">
      <div>
        <h1 class="section-title">Review <span>Form</span></h1>
        <p>Thank you for visiting our website.Please select your convenient locations and Restaruants Types.Enjoy your food.</p>
      </div>
      <div class="Review-link">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSf4qqtpbu0v0OlqX23Ko3h0x3t04ZCe1ErFzECqN0MAoMreDA/viewform?usp=sf_link"><h3>Click Here</h3></a>
    </div>
    </div>
  </section>
  <!-- review Section -->
  <!--sign in-->
 <!--<section id="sign in">
    <div class="sign in container">
      <div class="col-left">
    </div>
      <div class="col-right">
        <h1 class="section-title">Sign <span>In</span></h1>
        <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        </div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Sign In</button>
      </div>
    </div>
    
  </section>

  <!--end sign in-->
<!--<main id="main-holder">
    <h1 id="login-header">Login</h1>
    
    <div id="login-error-msg-holder">
      <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
    </div>
    
    <form id="login-form">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
      <input type="submit" value="Login" id="login-form-submit">
    </form>
  
  </main>


  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>R</span>estaruant <span>R</span>ecommendation <span>S</span>ystem</h1>
      </div>
      <h2>Your Complete Web Solution</h2>
      <div class="social-icon">     
        <div class="social-item">
          <a href="https://www.instagram.com/rupa_veerala/" target="_blank"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="https://www.instagram.com/mohid_babu_shaik/" target="_blank"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="https://www.instagram.com/charithyerram/" target="_blank"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="https://www.instagram.com/its_arsh901/" target="_blank"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>

        
      </div>
      <p>Copyright © 2023 Restaruant. All rights reserved</p>
    </div>
  </section>

  <!-- End Footer -->
</body>
</html>